body {
    margin: 10px;
    background-color: black;
/*    text-align: center;*/
    background-image: url("../images/bob.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: yellow;
    font-size: 100px;
    font-family: 'Righteous', cursive;
}

h2 {
    color: yellow;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 40px;
}


