body {
    background-color: beige;
    text-align: center;
    background-image: url("../images/rasta.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: yellow;
    font-size: 80px;
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 20px;
}

#jstext {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 20px;
}
